[submodule "json"]
	path = reference-impl/json
	url = https://github.com/nlohmann/json
[submodule "pybind11"]
	path = reference-impl/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "pipemod/StSLib"]
	path = pipemod/StSLib
	url = git@github.com:kiooeht/StSLib.git
